@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<MyProjectMyBlog.Models.Post>

<div class="jumbotron">
    <h1 id="top-build">Music</h1>
</div>

<section class="row">
     @foreach (var post in Model)
     {
        <article class="post col-md-6">
            <h2 class="title">@post.Title</h2>
            <div class="title">
                Публикувано:<i>@post.Date</i>
                @if (@post.Auhtor != null)
                {
                    @:от <i>@post.Auhtor.FullName (@post.Auhtor.UserName)</i>
                }
            </div>
            <p>@post.Body</p>
        </article>
     }
    
</section>